<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            table, th, td
            {
                text-align: left;
                color: black;
            }
            p
            {
                color: black;
            }
        </style>
    </head>
    <body>
        <p>Good evening,</p>
        {{#with student}}
        <p>Please find {{name}}'s score from the most recent exam below:</p>
        {{/with}}
        <table style="width: 100;">
            <tr>
                {{#with grades/tests.0/raw}}
                <td style="font-weight: bold;">English (Raw)</td>
                <td>{{reading}}/57</td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Mathematics (Raw)</td>
                <td>{{math}}/57</td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Total (Raw)</td>
                <td>{{total}}/114</td>
                {{/with}}
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                {{#with grades/tests.0/scaled}}
                <td style="font-weight: bold;">English (Scaled)</td>
                <td>{{reading}}</td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Mathematics (Scaled)</td>
                <td>{{math}}</td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Total (Scaled)</td>
                <td>{{total}}</td>
                {{/with}}
            </tr>
        </table>
        <p>If you have any questions or concerns, please feel free to reach out!<br>
        Thank you for your time.<br>
        Best,<br>
        Tasnim Ahmed<br>
        Kweller Prep Manhattan
        </p>
    </body>
</html>